/* RESPONSIVE */
    @media (max-width: 900px) {

  /* ========================
     LAYOUT GLOBAL
  ======================== */

      nav {
        padding: 1.5rem 2rem;
      }

      .nav-links {
        display: none;
      }

      .breadcrumb {
        padding: 1.5rem 2rem;
      }

      footer{
        flex-direction:column;
        gap:1rem;
        padding:2rem
      }

  /* ========================
     content
  ======================== */

      .content {
        padding: 4rem 2rem 3rem;
      }



  /* ========================
     HERO GLOBAL
  ======================== */

         .hero-content {
    padding: 3rem 2rem;
  }

      .hero-footer {
        padding: 1.5rem 2rem;
      }

  /* ========================
     MAIN
  ======================== */

  .main-content {
    padding: 0 2rem 4rem;
  }

  .main-body {
    padding: 4rem 2rem;
  }

  .main-body {
    padding: 0 2rem 5rem;
  }


  /* ========================
     CONTENT-NAV
  ======================== */

        .content-nav{
          padding:2rem;
          flex-direction:column;
          gap:2rem
        }

        .content-nav-lien.next{
          text-align:left
        }

    }

