/* VARIABLES */
:root {
      --noir: #0d0d0d;
      --blanc: #f5f2eb;
      --ocre: #b5822a;
      --ocre-clair: #d4a85a;
      --gris: #6b6459;
      --gris-clair: #c8c0b0;
      /* nouvelles couleur */
       --terre: #3d2b1a;
       --ardoise: #1a1f2e;
    }
