/* LAYOUT */
@import "./layout/footer.css";
@import "./layout/header.css";

/* COMPONENTS */
@import "./components/button.css";
@import "./components/animations.css";
@import "./components/hero.css";
@import "./components/content-nav.css";
@import "./components/breadcrumb.css";
@import "./components/progress-barre.css";

/* PAGES */
@import "./pages/home.css";
@import "./pages/pilier.css";
@import "./pages/ressouces.css";
@import "./pages/notes.css";
@import "./pages/contact.css";
@import "./pages/fiches.css";
@import "./pages/page-archeo.css";
@import "./pages/articles.css";
@import "./pages/prototypes.css";



/* VARIABLES */
:root {
      --noir: #0d0d0d;
      --blanc: #f5f2eb;
      --ocre: #b5822a;
      --ocre-clair: #d4a85a;
      --gris: #6b6459;
      --gris-clair: #c8c0b0;
      /* nouvelles couleur */
       --terre: #3d2b1a;
       --ardoise: #1a1f2e;
    }

/* RESET */
 *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 /* BASES */

   html {
    scroll-behavior: smooth;
  }

 body {
      background: var(--noir);
      color: var(--blanc);
      font-family: 'Source Serif 4', Georgia, serif;
      font-weight: 300;
      overflow-x: hidden;
    }

/* GRAIN OVERLAY */
body::before {
      content: '';
      position: fixed;
      inset: 0;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.04'/%3E%3C/svg%3E");
      pointer-events: none;
      z-index: 999;
      opacity: 0.6;
    }



  /* RESPONSIVE */
    @media (max-width: 900px) {
      nav { padding: 1.5rem 2rem; }
      .nav-links { display: none; }
      .hero-content { padding: 3rem 2rem; }
      .hero-number { display: none; }
      .hero-footer { padding: 1.5rem 2rem; }
      .urgence-band { padding: 1rem 2rem; }
      .intro { grid-template-columns: 1fr; padding: 4rem 2rem; gap: 2rem; }
      .intro-label { position: static; }
      .piliers { padding: 4rem 2rem; }
      .piliers-grid { grid-template-columns: 1fr; }
      .pilier-card { border-right: none; border-bottom: 1px solid rgba(181,130,42,0.15); }
      .chiffres { padding: 4rem 2rem; }
      .chiffres-grid { grid-template-columns: repeat(2, 1fr); gap: 2rem; }
      .demarche { padding: 4rem 2rem; }
      .demarche-inner { grid-template-columns: 1fr; gap: 3rem; }
      .demarche-aside { border-left: none; border-top: 1px solid rgba(181,130,42,0.3); padding-left: 0; padding-top: 2rem; }
      footer { flex-direction: column; gap: 1.5rem; text-align: center; padding: 3rem 2rem; }
    }
