<!DOCTYPE html>
<html lang="fr">
<head>

  <%- include('partial/head', { title: 'Adhésions'}) %>

  <style>

  </style>

</head>
<body class="page-adhesion">
  <%- include('partial/nav', { currentPage: 'adhesion' }) %>

  <div class="breadcrumb">
    <a href="/">Accueil</a>
    <span class="sep">·</span>
    <span>Adhésion</span>
  </div>
  <section class="content">
    <span class="content-tag">soutenez notre travail</span>
    <h1>Adhésion</h1>

    <div class="main-body">
      <p>
        CAP 2032 est un projet indépendant, construit sur le temps long, qui vise à proposer une lecture structurée et
        systémique des grands enjeux contemporains.
      </p>

      <p>
        L’adhésion donne accès aux contenus détaillés et au téléchargement du projet complet.
      </p>

      <p>
        Elle est libre, à partir de 5€ par an, et permet de faire vivre et évoluer le site.
      </p>

      <p>
        Ce soutien est aussi une manière de participer à une démarche intellectuelle exigeante, orientée vers la compréhension
        et l’intérêt général.
      </p>

      <p>
        Merci pour votre soutien
      </p>
    </div>

  </section>

    <a href="#" class="btn-primary">
      Adhérer (prix libre)
    </a>
    <a href="#" target="_blank" class="btn-primary">
      Soutenir sur Tipeee
    </a>

  <%- include('partial/footer') %>
</body>
</html>

