<!DOCTYPE html>
<html lang="fr">
<head>

<%- include('partial/head', { title: "Contact — CAP 2032"}) %>

<style>

</style>
</head>

<body class="page-contact">

  <!-- NAV -->

<%- include('partial/nav', { currentPage: 'contact' }) %>

<!-- BREADCRUMB -->

  <%- include('partial/breadcrumb', {
  items: [
  { label: "Accueil", url: "/"},
  { label: "Contact" }
  ]
}) %>

  <div class="breadcrumb">
    <a href="/">Accueil</a><span class="sep">·</span>
    <span> </span>
  </div>

<section class="hero">
  <h1>Entrer en contact</h1>
  <p>Pour toute question, échange ou prise de contact, vous pouvez utiliser le formulaire ci-dessous.</p>
</section>

<section class="contact">

<form action="/contact" method="POST">

  <input type="text" name="nom" placeholder="Nom" required>

  <input type="email" name="email" placeholder="Email" required>

  <textarea name="message" rows="5" placeholder="Votre message..." required></textarea>

  <button type="submit">Envoyer</button>

</form>

</section>

<%- include ('partial/footer') %>

</body>
</html>
