/* BARRE DE PROGRESSION */
    .progress-bar {
      position: fixed;
      top: 0;
      left: 0;
      height: 4px;
      background: var(--ocre);
      z-index: 200;
      width: 0%;
      transition: width 0.1s;
    }
